

body img {
	width: 100%;
}

html,body {
	background: url(img/sw/spacebg.png);
}

#Static {
	background: #662C2C;
	text-align: center;

}
.space {
	background: url(img/sw/background.jpg);
	height: 530px; 
}

h1, h2,h3 {
	text-shadow: 0 0 10px #fff;
}
h1, h2,h3, p {
	color:yellow;
}



